<!-- Toolbar -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <img id="chiroLogo" class="navbar-brand" src="assets/images/chiro.png" alt="Ons Chiro Logo">
        <a href="#" class="navbar-brand">
            Chiro Kerkhoven</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="evenementen">Evenementen</a></li>
        <li><a href="onze-groepen">Onze Groepen</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="kalender">Kalender</a></li>
    </ul>
</div>