.homePageWrapper{
    height: 100vh;
}

 .buttonHomePage{
     background-color: darkblue;
     color: white;
 }

 .buttonHomePage :hover{
     background-color: darkblue;
 }

 
body {
    background-image: url("/assets/images/chiroBanner.jpg");
    background-color: #cccccc;
   }