<div class="homePageWrapper">
    <div class="navWrapper">
        <div class="sticky-nav">
            <div class="logoAndName">
                <img id="chiroLogo" class="chiroLabel" src="../assets/images/chiro.png" alt="Ons Chiro Logo">
                <p class="chiroName"> Chiro Kerkhoven</p>
            </div>            
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#evenementen">Evenementen</a></li>
                <li><a href="#onzegroepen">Onze Groepen</a></li>                
                <li><a href="#kalender">Kalender</a></li>
            </ul>
        </div>            
    </div>

    <div class="home">
        <img id="backgroundHome" src="../assets/images/chiroBanner.jpg">
    </div>

    <div class="evenementenWrapper">
        <h1 id="evenementen">Evenementen:</h1>
        <div class="evenementen">
            <div class="evenement">
                <div class="speeltuinWrapper">
                    <div>                    
                        <h2>Speeltuin:</h2>
                        <div class="evenementContent">
                            <h3>-Datum: 22 Jan 2023</h3>
                            <h3>-Tijd: 14u00 - 17u00</h3>
                            <h3>-Plaats: Luikersteenweg 331, 3920 Lommel</h3>
                            <div class="evenementenText">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <img id="speeltuin" src="../assets/images/speeltuin.jpg" alt="Speeltuin">     
                </div>
            </div>
            <div class="evenement">
                <h2>Confesti:</h2>
                <div class="evenementContent">
                    <h3>-Datum: 04 Maa 2023</h3>
                    <div class="evenementenText">
                        <p>Op 4 maart organiseren wij onze fuif en zal er dus helaas de 5 maart geen chiro zijn.</p>
                    </div>
                </div>
            </div>
            <div class="evenement">
                <div class="speeltuinWrapper">
                    <div>                    
                        <h2>Moederdag brunch:</h2>
                        <div class="evenementContent">
                            <h3>-Datum: 07 Mei 2023</h3>
                            <h3>-Tijd: Volgt later</h3>
                            <h3>-Plaats: Kanaalstraat 18, 3920 Lommel (Heidegalm)</h3>
                            <div class="evenementenText">
                                <p>Kom samen met ons alle mama’s in de bloemetjes zetten tijdens onze jaarlijkse Moederdag brunch.</p>
                                <p>We voorzien een groot assortiment voor ieder wat wils!</p>
                            </div>
                        </div>
                    </div>
                    <img id="speeltuin" src="../assets/images/brunch.jpg" alt="Brunch">     
                </div>
            </div>
        </div>
    </div>

    <div class="groepenWrapper">
        <h1 id="onzegroepen">Onze groepen:</h1>
        <div class="groepen">
            <div class="groep">
                <h2>Speelclubs:</h2>
                <div class="groepContent">
                    <h3>-Leeftijd: Kinderen van het 1ste - 3de leerjaar</h3>                    
                    <h3>-Groepsverantwoordelijke: Lars Coolen</h3>
                    <h3>-Contact: 0486 81 76 50</h3>                    
                    <h3>-Leidingen:</h3>
                    <div class="leidingen">
                        <div>
                            <h3>Lars Geysen: </h3>
                            <img class="leidingFoto" src="../assets/images/lars.jpg" alt="Lars Geysen">
                        </div>
                        <div>
                            <h3>Lars Coolen: </h3>
                            <img class="leidingFoto" src="../assets/images/larsC.jpg" alt="Lars Coolen">
                        </div>
                    </div>
                </div>
            </div>
            <div class="groep">
                <h2>Rakwi's:</h2>
                <div class="groepContent">
                    <h3>-Leeftijd: Kinderen van het 4de - 6de leerjaar</h3>
                    <h3>-Groepsverantwoordelijke: Robin Stelten</h3>
                    <h3>-Contact: 0494 06 34 83</h3>
                    <h3>-Leidingen:</h3>
                    <div class="leidingen">
                        <div>
                            <h3>Robin Stelten: </h3>
                            <img class="leidingFoto" src="../assets/images/robin.jpg" alt="Robin Stelten">
                        </div>
                    </div>
                </div>
            </div>
            <div class="groep">
                <h2>Tito's:</h2>
                <div class="groepContent">
                    <h3>-Leeftijd: Kinderen van het 1ste - 3de middelbaar</h3>
                    <h3>-Groepsverantwoordelijke: Beau Hannes</h3>
                    <h3>-Contact: 0488 99 18 88</h3>
                    <h3>-Leidingen:</h3>
                    <div class="leidingen">
                        <div>
                            <h3>Beau Hannes: </h3>
                            <img class="leidingFoto" src="../assets/images/beau.jpg" alt="Beau Hannes">
                        </div>
                        <div>
                            <h3>Jarne Caerts: </h3>
                            <img class="leidingFoto" src="../assets/images/jarne.jpg" alt="Jarne Caerts">
                        </div>
                    </div>
                </div>
            </div>
            <div class="groep">
                <h2>Aspi's:</h2>
                <div class="groepContent">
                    <h3>-Leeftijd: Kinderen van het 4de - 6de middelbaar</h3>
                    <h3>-Groepsverantwoordelijke: Roos Janssen</h3>
                    <h3>-Contact: 0471 09 88 61</h3>
                    <h3>-Leidingen:</h3>
                    <div class="leidingen">
                        <div>
                            <h3>Arvid Coolen: </h3>
                            <img class="leidingFoto" src="../assets/images/arvid.jpg" alt="Arvid Coolen">
                        </div>
                        <div>
                            <h3>Roos Janssen: </h3>
                            <img class="leidingFoto" src="../assets/images/roos.jpg" alt="Roos Janssen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="kalenderWrapper">
        <div  id="kalender"></div>
        <h1>Kalender:</h1>
        <div class="kalenderContent">
            <img id="kalenderImage" src="../assets/images/kalender.jpg" alt="kalender">
        </div>
    </div>
    <footer>
        <div class="footerContent">
            <p>Chiro Kerkhoven</p>
            <a href="mailto:chirokerkhoven@gmail.com">chirokerkhoven@gmail.com</a>
            <p>Tel.: 0494 06 34 83</p>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/profile.php?id=100069941032279">
                <img src="../assets/images/Facebook.svg" alt="">
            </a>
        </div>
    </footer>
</div>