<body>
    <div class="homePageWrapper">
        <div class="navWrapper">
            <div class="sticky-nav">
                    <img id="chiroLogo" class="chiroLabel" src="../assets/images/chiro.png" alt="Ons Chiro Logo">
                    <p class="chiroName"> Chiro Kerkhoven</p>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Evenementen</a></li>
                    <li><a href="#">Onze Groepen</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Kalender</a></li>
                </ul>
            </div>            
        </div>
        <div class="home">
            <div class="buttonWrapper">
                <button class="buttonHomePage">Schijf je in!</button>
            </div>
        </div>
    </div>    
</body>