div.navBar{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

:target {
    scroll-margin-top: 100px;
}

.logoAndName{
    display: flex;
    flex-direction: row;
}

 .buttonHomePage{
     background-color: darkblue;
     color: white;
 }

 .buttonHomePage :hover{
     background-color: darkblue;
 }

#backgroundHome{
    width: 100%;
}

.navWrapper {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: white;  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #337ab7;
}

.sticky-nav {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.chiroName {
    font-size: 30px;
    color: #337ab7;
}

.chiroLabel{
    height: 5em;
    margin-right: 1em;
}

.evenementenWrapper {    
    margin-left: 1em;
    font-size: 20px;
    border-bottom: 1px solid #337ab7;
}

.evenementen {
    margin-left: 1em;
}

.evenement {
    margin-bottom: 5em;
    margin-top: 2em;
}

.evenementContent {
    margin-left: 1em;
}

.evenementenText {
    margin-left: 1em;
}

.groepenWrapper {    
    margin-left: 1em;
    font-size: 20px;
    border-bottom: 1px solid #337ab7;
}

.groepen {
    margin-left: 1em;
}

.groep {
    margin-bottom: 5em;
    margin-top: 2em;
}

.groepContent {
    margin-left: 1em;
}

form button{
    width: 5em;
}

.sendButton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10%;
}

.kalenderWrapper {    
    margin-left: 1em;
    font-size: 20px;
}

footer {
    background-color: black;
    border-top: 3px solid #337ab7;
    color: lightyellow;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

.footerContent{
    display: flex;
    flex-direction: column;
}

.social {
    width: 2em;
    align-self: flex-end;
    margin-bottom: 3em;
    margin-right: 3em;
}

@media only screen and (max-width: 810px) {
    ul li {
        height: 2.3em;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .sticky-nav {
        display: flex;
        flex-direction: column;            
        align-items: center;
        justify-content: center;
    }

    .chiroName {
        margin-top: 0.4em;
        font-size: 16px;
    }

    #chiroLogo{
        width: 3em;
        height: 3em;
    }

    :target {
        scroll-margin-top: 210px;
    }
}

@media only screen and (max-width: 520px) {
    #kalenderImage {
        width: 18em;
    }
}