div.navBar{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

 .buttonHomePage{
     background-color: darkblue;
     color: white;
 }

 .buttonHomePage :hover{
     background-color: darkblue;
 }

.home {
    background-image: url("/assets/images/chiroBanner.jpg");
    height: 100vh;
}

.navWrapper {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: white;  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #337ab7;
}

.sticky-nav {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.chiroName {
    font-size: 30px;
    color: #337ab7;
}

.chiroLabel{
    height: 5em;
    margin-right: 1em;
}

.evenementenWrapper {    
    margin-left: 1em;
    font-size: 20px;
}

.evenementen {
    margin-left: 1em;
}

.evenement {
    margin-bottom: 5em;
    margin-top: 2em;
}

.evenementContent {
    margin-left: 1em;
}

.evenementenText {
    margin-left: 1em;
}

.groepenWrapper {    
    margin-left: 1em;
    font-size: 20px;
}

.groepen {
    margin-left: 1em;
}

.groep {
    margin-bottom: 5em;
    margin-top: 2em;
}

.groepContent {
    margin-left: 1em;
}

.contactWrapper {    
    margin-left: 1em;
    font-size: 20px;
}

input {
    width: 90em;
}

textarea {
    width: 90em;
    height: 30em;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

.mailadres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

form {
    margin-left: 1em;
}

form button{
    width: 5em;
}

.sendButton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 3em;
}

.kalenderWrapper {    
    margin-left: 1em;
    font-size: 20px;
}

.kalenderContent {
    margin-left: 1em;
}