<body>
    <div class="homePageWrapper">
        <div class="navWrapper">
            <div class="sticky-nav">
                    <img id="chiroLogo" class="chiroLabel" src="../assets/images/chiro.png" alt="Ons Chiro Logo">
                    <p class="chiroName"> Chiro Kerkhoven</p>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#evenementen">Evenementen</a></li>
                    <li><a href="#onzegroepen">Onze Groepen</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#kalender">Kalender</a></li>
                </ul>
            </div>            
        </div>
        <div class="home">
            <div class="buttonWrapper">
                <button class="buttonHomePage">Schijf je in!</button>
            </div>
        </div>

        <div class="evenementenWrapper">
            <div  id="evenementen"></div>
            <br>
            <br>
            <br>
            <h1>Evenementen:</h1>
            <div class="evenementen">
                <div class="evenement">
                    <h2>Vriendschapsdag:</h2>
                    <div class="evenementContent">
                        <h3>-Datum: 25 Sep 2022</h3>
                        <h3>-Tijd: 14u00 - 17u00</h3>
                        <h3>-Plaats: Kerkweg 30, Lommel</h3>
                        <div class="evenementenText">
                            <p>Een dag waarop jullie zoveel mogelijk vriendjes mogen meebrengen!</p>
                            <p>En toffe dingen te winnen vallen.</p>
                            <p>Voor verdere info zie brief.</p>
                            <p>We hebben voor de gelegenheid een heus springkasteel aan onze hemen staan kom dus zeker is een kijkje nemen!</p>
                        </div>
                    </div>
                </div>
                <div class="evenement">
                    <h2>Inschrijvingsnamiddag:</h2>
                    <div class="evenementContent">
                        <h3>-Datum: 09 Okt 2022</h3>
                        <h3>-Tijd: 14u00 - 17u00</h3>
                        <h3>-Plaats: Kerkweg 30, Lommel</h3>
                        <div class="evenementenText">
                            <p>Op 9 oktober zullen we van 14:00 tot 17:00 de inschrijvingsnamiddag houden.</p> 
                            <p>We nodigen jullie dan ook uit om met jullie ouders een stukje taart te komen eten en iets te drinken voor de Chiro te steunen.</p>
                            <p>Dit zal doorgaan op Kerkweg 30.</p>
                        </div>
                    </div>
                </div>
                <div class="evenement">
                    <h2>Jeugddag (zaterdag):</h2>
                    <div class="evenementContent">
                        <h3>-Datum: 22 Okt 2022</h3>
                        <h3>-Tijd: 13u00 - 17u00</h3>
                        <h3>-Plaats: Kerkweg 30, Lommel</h3>
                        <div class="evenementenText">
                            <p>Op 22 oktober spreken we om 13:00 aan de hemen af.</p>
                            <p>Vandaar uit rijden we om 13:15 naar het plein bij het stadhuis (nieuwe stadhuis) van Lommel.</p>
                            <p>Hier zullen we een optocht maken naar de hemen voor de Sahara van Lommel en daar tot 17:00 samen met andere lommelse jeugdbewegingen spelen.</p>
                            <p>Hiervoor vragen we nog ouders die graag zouden willen/kunnen rijden op die dag zowel heen als terug.</p>
                            <p>Hiervoor kun je altijd een mailtje sturen. De dag erna is het dan geen chiro.</p>
                        </div>
                    </div>
                </div>
                <div class="evenement">
                    <h2>Eetdag:</h2>
                    <div class="evenementContent">
                        <h3>-Datum: 06 Nov 2022</h3>
                        <h3>-Tijd: Heel den dag</h3>
                        <h3>-Plaats: Kanaalstraat 18, Lommel (Heidegalm)</h3>
                        <div class="evenementenText">
                            <p>Een dag waarop heel de Chiro familie samenkomt om lekker wat spaghetti of croque te eten.</p>
                            <p>Meer informatie hierover volgt nog in brief en mailvorm.</p>
                        </div>
                    </div>
                </div>
                <div class="evenement">
                    <h2>Christus koning:</h2>
                    <div class="evenementContent">
                        <h3>-Datum: 20 Nov 2022</h3>
                        <h3>-Tijd: 09:00 - 17u00</h3>
                        <h3>-Plaats: Kerkweg 30, Lommel</h3>
                        <div class="evenementenText">
                            <p>Het feest van de Chiro op deze dag houden we een hele dag Chiro.</p>
                            <p>Beginnend in vroege uren van de ochtend en eindigt om 17:00 zoals andere Chiro dagen.</p>
                            <p>Ook hierover volgt nog verder informatie via mail/brief.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="groepenWrapper">
            <div  id="onzegroepen"></div>
            <br>
            <br>
            <br>
            <h1>Onze groepen:</h1>
            <div class="groepen">
                <div class="groep">
                    <h2>Speelclubs:</h2>
                    <div class="groepContent">
                        <h3>-Leeftijd: Kinderen van het 1ste - 3de leerjaar</h3>
                        <h3>-Leiding: Bart, Beau, Roos & Dieter</h3>
                        <h3>-Groepsverantwoordelijke: Beau</h3>
                        <h3>-Contact: 0456 54 75 90</h3>
                    </div>
                </div>
                <div class="groep">
                    <h2>Rakwi's:</h2>
                    <div class="groepContent">
                        <h3>-Leeftijd: Kinderen van het 4de - 6de leerjaar</h3>
                        <h3>-Leiding: Robin, Christos, Jarne, Joke & Arvid</h3>
                        <h3>-Groepsverantwoordelijke: Robin</h3>
                        <h3>-Contact: 0456 54 75 90</h3>
                    </div>
                </div>
                <div class="groep">
                    <h2>Tito's:</h2>
                    <div class="groepContent">
                        <h3>-Leeftijd: Kinderen van het 1ste - 3de middelbaar</h3>
                        <h3>-Leiding: Beauté & Lars C.</h3>
                        <h3>-Groepsverantwoordelijke: Beauté</h3>
                        <h3>-Contact: 0456 54 75 90</h3>
                    </div>
                </div>
                <div class="groep">
                    <h2>Aspi's:</h2>
                    <div class="groepContent">
                        <h3>-Leeftijd: Kinderen van het 4de - 6de middelbaar</h3>
                        <h3>-Leiding: Kaat & Lars G.</h3>
                        <h3>-Groepsverantwoordelijke: Lars</h3>
                        <h3>-Contact: 0456 54 75 90</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactWrapper">
            <div  id="contact"></div>
            <br>
            <br>
            <br>
            <h1>Contact:</h1>
            <form action="">
                <div class="mailadres">                
                    <label for="mailadres">Uw mailadres:</label>
                    <input type="email" id="mailadres" name="mailadres">
                </div>
                <div class="message">                
                    <label for="message">Uw mailadres:</label>
                    <textarea name="message" id="message"></textarea>
                </div>
                <div class="sendButton">                        
                    <button>Verzend</button>
                </div>
            </form>
        </div>
        <div class="kalenderWrapper">
            <div  id="kalender"></div>
            <h1>Kalender:</h1>
            <div class="kalenderContent">
                <img src="../assets/images/kalender2022.png" alt="">
            </div>
        </div>
    </div>    
</body>